<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link rel="icon" href="/images/popcorn.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <div class="language-links">
            <a href="/change-lang/kz" class="<%= currentLang === 'kz' ? 'bold-text' : '' %>">KZ</a>
            <a href="/change-lang/en" class="<%= currentLang === 'en' ? 'bold-text' : '' %>">EN</a>
            <a href="/change-lang/ru" class="<%= currentLang === 'ru' ? 'bold-text' : '' %>">RU</a>
        </div>
        <form action="/getDataFromLog" method="post" class="registration-form">
            <input name="username" type="text" placeholder="<%= t('username') %>" required>
            <input name="password" type="password" placeholder="<%= t('password') %>" required>

            <button type="submit"><%= t('signIn') %></button>
            <span><%= t('dontHaveAccount') %><a href="/registration"><%= t('signUp') %></a></span>
        </form>
        <p class="greeding-title">Welcome to</p>
        <span class="title">MovieCorn <img src="/images/popcorn.png" alt="popcorn"></span>
    </div>
</body>
</html>
