<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actors</title>
    <link rel="icon" href="/images/popcorn.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/actors.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark p-3">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class=" collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto ">
              <li class="nav-item">
                <a class="nav-link mx-2" href="/movie"><%= t('searchMovie') %></a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-2" style="color: #e50914;" href="/actor"><%= t('searchActor') %></a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-2" href="/posts"><%= t('posts') %></a>
              </li>
              <% if (user.isAdmin) { %>
                <li class="nav-item">
                    <a class="nav-link mx-2" href="/adminPanel"><%= t('adminPanel') %></a>
                </li>
            <% }%>
            </ul>
          </div>
        </div>
        <div class="top-right d-flex align-items-center">
            <div class="language-switcher mr-3">
                <a href="/change-lang/kz" class="lang-link <%= currentLang === 'kz' ? 'active' : '' %>">KZ</a>
                <a href="/change-lang/en" class="lang-link <%= currentLang === 'en' ? 'active' : '' %>">EN</a>
                <a href="/change-lang/ru" class="lang-link <%= currentLang === 'ru' ? 'active' : '' %>">RU</a>
            </div>
    
            <div class="user-info ml-3">
                <% if (user.username) { %>
                    <span class="username mr-2"><%= user.username %></span>
                    <a href="/logout" class="logout-link"><%= t('logout') %></a>
                <% } else { %>
                    <a href="/login" class="auth-link mr-2"><%= t('login') %> </a>
                    <span>|</span>
                    <a href="/registration" class="auth-link ml-2"><%= t('register') %></a>
                <% } %>
            </div>
        </div>
    </nav>

    <div class="wrapper">

        <div class="search-container d-flex justify-content-center"></div>
            <form action="/actor" method="post" class="search-element d-flex align-items-center">
                <input type="text" id="name" name="name" placeholder="<%= t('searchFavouriteActor') %>" class="form-control mr-2">
                <button type="submit" class="btn btn-outline-light"><%= t('search') %></button>
            </form>
        </div>

        <div class="actor-container mt-5">
            <% if (actorInfo) { %>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><%= actorInfo.name %></h5>
                        <p class="card-text">Date of Birth: <%= actorInfo.birthday %></p>
                        <% if (actorInfo.profilePicture) { %>
                            <img src="<%= actorInfo.profilePicture %>" class="card-img-top" alt="Actor Image">
                        <% } else { %>
                            <p>No profile picture available</p>
                        <% } %>
                    </div>
                </div>
            <% } else { %>
                <p><%= t('noActorInfoAvailable') %></p>
            <% } %>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>