<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Search Website</title>    
    <link rel="icon" href="/images/popcorn.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">  
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark p-3">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class=" collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto ">
              <li class="nav-item">
                <a class="nav-link mx-2" style="color: #e50914;"  href="/movie"><%= t('searchMovie') %></a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-2"href="/actor"><%= t('searchActor') %></a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-2" href="/posts"><%= t('posts') %></a>
              </li>
              <% if (user.isAdmin) { %>
                <li class="nav-item">
                    <a class="nav-link mx-2" href="/adminPanel"><%= t('adminPanel') %></a>
                </li>
            <% }%>
            </ul>
          </div> 
        </div>
        <div class="top-right d-flex align-items-center">
            <div class="language-switcher mr-3">
                <a href="/change-lang/kz" class="lang-link <%= currentLang === 'kz' ? 'active' : '' %>">KZ</a>
                <a href="/change-lang/en" class="lang-link <%= currentLang === 'en' ? 'active' : '' %>">EN</a>
                <a href="/change-lang/ru" class="lang-link <%= currentLang === 'ru' ? 'active' : '' %>">RU</a>
            </div>
    
            <div class="user-info ml-3">
                <% if (user.username) { %>
                    <span class="username mr-2"><%= user.username %></span>
                    <a href="/logout" class="logout-link"><%= t('logout') %></a>
                <% } else { %>
                    <a href="/login" class="auth-link mr-2"><%= t('login') %> </a>
                    <span>|</span>
                    <a href="/registration" class="auth-link ml-2"><%= t('register') %></a>
                <% } %>
            </div>
        </div>
    </nav>
    
    <div class="wrapper">
        <div class="search-container d-flex justify-content-center">
            <form action="/movie" method="post" class="search-element d-flex align-items-center">
                <input name="movie" type="text" placeholder="<%= t('searchMovieTitle') %>" class="form-control mr-2">
                <button type="submit" class="btn btn-outline-light"><%= t('search') %></button>
            </form>
        </div>
    
        <div id="movieContainer" class="movie-container">
            <% if (movieData && movieData.Search) { %>
                <% movieData.Search.forEach(function(movie) { %>
                    <div class="movie">
                        <h3><%= movie.Title %></h3>
                        <p>Year: <%= movie.Year %></p>
                        <img src="<%= movie.Poster %>" alt="Movie Poster">
                    </div>
                <% }); %>
            <% } else { %>
                <p class="no-movies-found"><%= t('noMoviesFound') %></p>
            <% } %>
        </div>    
    </div>
    <div class="footer">
        <p class="text-center text-uppercase">Abdirashituly Azat SE-2204</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
