<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" href="/images/main-fav.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/post.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark p-3">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class=" collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto ">
              <li class="nav-item">
                <a class="nav-link mx-2" href="/movie"><%= t('searchMovie') %></a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-2" href="/actor"><%= t('searchActor') %></a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-2" style="color: #e50914;" href="/posts"><%= t('posts') %></a>
            </li>
              <% if (user.isAdmin) { %>
                <li class="nav-item">
                    <a class="nav-link mx-2" href="/adminPanel"><%= t('adminPanel') %></a>
                </li>
            <% }%>
            </ul>
          </div>
        </div>
        <div class="top-right d-flex align-items-center">
            <div class="language-switcher mr-3">
                <a href="/change-lang/kz" class="lang-link <%= currentLang === 'kz' ? 'active' : '' %>">KZ</a>
                <a href="/change-lang/en" class="lang-link <%= currentLang === 'en' ? 'active' : '' %>">EN</a>
                <a href="/change-lang/ru" class="lang-link <%= currentLang === 'ru' ? 'active' : '' %>">RU</a>
            </div>
    
            <div class="user-info ml-3">
                <% if (user.username) { %>
                    <span class="username mr-2"><%= user.username %></span>
                    <a href="/logout" class="logout-link"><%= t('logout') %></a>
                <% } else { %>
                    <a href="/login" class="auth-link mr-2"><%= t('login') %> </a>
                    <span>|</span>
                    <a href="/registration" class="auth-link ml-2"><%= t('register') %></a>
                <% } %>
            </div>
        </div>
    </nav>
    <% if (user.isAdmin) { %>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addPostModal">
            <%= t('addPost') %>
        </button>
    <% } %>
    <div class="modal fade" id="addPostModal" tabindex="-1" role="dialog" aria-labelledby="addPostModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="/posts" method="post">
                    <div class="modal-body">
                        <input type="text" name="title" class="form-control mb-2" placeholder="Title">
                        <input type="text" name="image1" class="form-control mb-2" placeholder="Image URL 1">
                        <input type="text" name="image2" class="form-control mb-2" placeholder="Image URL 2">
                        <input type="text" name="image3" class="form-control mb-2" placeholder="Image URL 3">
                        <textarea name="content" class="form-control" placeholder="Content"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= t('close') %></button>
                        <button type="submit" class="btn btn-primary"><%= t('addPost') %></button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <ul class="post">
        <% posts.forEach((post, index) => { %>
            <li class="pt-3">
                <% if (user.isAdmin) { %>
                    <div class="dropdown">
                        <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-three-dots-vertical"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <form action="/posts/delete/<%= post._id %>?_method=delete" method="post">
                                    <button type="submit" class="dropdown-item delete-post-button" onclick="return confirm('Are you sure you want to delete this post?')"><%= t('delete') %></button>
                                </form>
                            </li>
                            <li>
                                <button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#editPostModal-<%= post._id %>"><%= t('edit') %></button>
                            </li>
                        </ul>
                    </div>                    
                <% } %>

                <div class="modal fade" id="editPostModal-<%= post._id %>" tabindex="-1" role="dialog" aria-labelledby="editPostModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div id="carouselExampleFade-<%= post._id %>" class="carousel slide carousel-fade">
                                    <div class="carousel-inner">
                                        <% post.images.forEach((image, imgIndex) => { %>
                                            <div class="carousel-item <%= imgIndex === 0 ? 'active' : '' %>">
                                                <img src="<%= image %>" class="d-block w-100" alt="Image <%= imgIndex + 1 %>">
                                            </div>
                                        <% }); %>
                                    </div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade-<%= post._id %>" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"><i class="bi bi-caret-left-fill"></i></span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade-<%= post._id %>" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"><i class="bi bi-caret-right-fill"></i></span>
                                    </button>
                                </div>
                            </div>
                            <form action="/posts/edit/<%= post._id %>?_method=put" method="post">
                                <div class="modal-body">
                                    <input type="text" name="title" class="form-control mb-2" placeholder="<%= t('newTitle') %>">
                                    <input type="text" name="image1" class="form-control mb-2" placeholder="<%= t('newImage') %> URL 1">
                                    <input type="text" name="image2" class="form-control mb-2" placeholder="<%= t('newImage') %> URL 2">
                                    <input type="text" name="image3" class="form-control mb-2" placeholder="<%= t('newImage') %> URL 3">
                                    <textarea name="content" class="form-control" placeholder="<%= t('newContent') %>"></textarea>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= t('close') %></button>
                                    <button type="submit" class="btn btn-primary"><%= t('edit') %></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
    
                <div id="carouselExampleFade-<%= index %>" class="carousel slide carousel-fade">
                    <div class="carousel-inner">
                        <% post.images.forEach((image, imgIndex) => { %>
                            <div class="carousel-item <%= imgIndex === 0 ? 'active' : '' %>">
                                <img src="<%= image %>" class="d-block w-100" alt="Image <%= imgIndex + 1 %>">
                            </div>
                        <% }); %>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade-<%= index %>" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden"><i class="bi bi-caret-left-fill"></i></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade-<%= index %>" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden"><i class="bi bi-caret-right-fill"></i></span>
                    </button>
                </div>

    
                <div class="icons mt-3">
                    <form class="form-icons" action="/posts/likePost/<%= post._id %>?_method=put" method="post">
                        <button type="submit" class="btn-icon" aria-label="Like post">
                            <% let isLiked = user.likedPosts.some(likedPost => likedPost.post_id === post._id.toString()); %>
                            <i class="bi <%= isLiked ? 'bi-heart-fill' : 'bi-heart' %> like-icon"></i>
                        </button>
                    </form>
                        
                    <button class="btn-icon">
                        <i class="bi bi-chat comment-icon" data-toggle="comments"></i>
                    </button>
                    
                    <form class="form-icons" action="">
                        <button class="btn-icon share-btn facebook" data-platform="facebook">
                            <i class="bi bi-facebook"></i>
                        </button>
                        <button class="btn-icon share-btn twitter" data-platform="twitter">
                            <i class="bi bi-twitter"></i>
                        </button>
                        <button class="btn-icon share-btn linkedin" data-platform="linkedin">
                            <i class="bi bi-linkedin"></i>
                        </button>
                    </form>
                </div>
                
                <h2><%= post.title %></h2>
                <p><%= post.content %></p>
                <% if (post.postedDate) { %>
                    <% const dateOptions = { year: 'numeric', month: 'short', day: '2-digit', hour: '2-digit', minute: '2-digit' }; %>
                    <p class="posted-date"><%= t('postedOn') %>: <%= new Date(post.postedDate).toLocaleString('en-US', dateOptions) %></p>
                <% } %>
                <% if (post.lastUpdateDate != null) { %>
                    <% const dateOptions = { year: 'numeric', month: 'short', day: '2-digit', hour: '2-digit', minute: '2-digit' }; %>
                    <p class="posted-date"><%= t('editedOn') %>: <%= new Date(post.lastUpdateDate).toLocaleString('en-US', dateOptions) %></p>
                <% } %>
                <ul class="comments-list" id="comments-list" style="display: block;">
                    <% post.comments.forEach(comment => { %>
                        <li><%= comment.username %>: <%= comment.comment %></li>
                    <% }); %>
                </ul>
                <form action="/comment/<%= post._id %>" method="post" class="comment-form">
                    <input type="text" name="comment" placeholder="<%= t('writeComment') %>" class="form-control comment-input">
                    <button type="submit" class="btn btn-primary comment-submit"><%= t('comment') %></button>
                </form>
            </li>
            <hr>
        <% }); %>
    </ul>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    
    <script>
        const commentIcons = document.querySelectorAll('.comment-icon');
    
        commentIcons.forEach(icon => {
            icon.addEventListener("click", function() {
                const parentListItem = icon.closest('li');
                const commentsList = parentListItem.querySelector('.comments-list');
    
                if (commentsList.style.display === "none" || !commentsList.style.display) {
                    commentsList.style.display = "block";
                } else {
                    commentsList.style.display = "none";
                }
            });
        });
    </script>
</html>